* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 1rem 0;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303c6c;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303c6c;
}
